body {
    background-color: #161414;
}
.cont{
    display: flex;
    justify-content: center;
}
 
img {
    width: 15%;   
}
.bot {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-family: 'Times New Roman', Times, serif;
}
.cont {
    display: flex;
    justify-content: center;
}
.container {
    color:white;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.caixa {
    color: white;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    color: black;
    background-color: rgba(1, 255, 136, 0.699);
    margin: 15px;
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all;
}

button:hover{
    background-color: rgb(255, 255, 255);
    color:black
}
input {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    margin: 3px;
    display: flex;   
}
.none {
    display: none;
}