*{
    box-sizing: border-box; /* asterico e tudo aplica em todo o site*/
}

body {
    background: #0a2e4d; /* Cor de Fundo */
    font-family: Arial, Helvetica, sans-serif;
    height: 100%; /*Altura*/
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /*sempre que quiser centrelizar algo no css use esse comando*/
}

h1 {
    text-align: center; /* Aliamento do texto */
    font-size: 36px; /* Tamanho do texto*/
    color: #ffffff;
}

h2 {
    color: #051626;
    margin-bottom: 20px;
    font-size: 24px;
}

main {
    display: flex;/* propriedade que coloca uma sessão do lado da outra*/
    gap: 20px;/*cria um espaço entre  uma sessao e outra*/
    margin-bottom: 30px;

}

.sessao-maior {
    background: #F8F9FA;
    width: 100%; /*LARGURA*/
    border-radius: 8px;/*Arrendondar a borda*/
    padding: 30px;
    height: 400px;/*Altura*/
}

.area-codigo {
    background: #000306;
    height: calc(100% - 70px);
    border-radius: 10px;
    padding: 20px;
    color: #F8F9FA;
    font-size: 14px;
}

.area-resultado {
    background: #F8F9FA;
    border-radius: 10px;
    height: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
}

.sessao-menor {
    background: #F8F9FA;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 20px;
}

input {
    width: 80%;
    padding: 15px 20px;
    font-size: 16px;
    color: #051626;
    border-radius: 10px;
    border: 2px solid #94a3b8;
}

button {
    background: #37e359;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;/*fonte mais grossa (em negrito)*/
    color: #F8F9FA;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background: #52ff74;

}

button:active {
    transform: scale(0.8);
}